.mySlide .mySlide body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.mySlide .swiper {
  height: 400px;
  width: 80%;
  margin: 50px auto;
}

.mySlide .swiper-slide {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  font-size: 18px;
  color: white;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mySlide .swiper-slide div {
  width: 100%;
  height: 200px;
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.mySlide .swiper-pointer-events {
  width: 80%;
  height: 50px;
}

.mySlide .swiper-slide img {
  width: 12%;
  height: 70px;
  background-color: red;
  border-radius: 30px;
  color: white;
  margin: 70px 0px 0px 70px;
}

.mySlide .mySlide .swiper-slide img {
  display: block;
  width: 80%;
  height: 50px;
  object-fit: cover;
}

.mySlide .TheTeam {
  display: flex;
  justify-content: center;
   {
    /*background-color: black;*/
  }
  color: white;
}
.mySlide .TheTeam span {
  color: white;
}

.mySlide .swiper-button-prev {
  color: red;
}

.mySlide .swiper-button-next {
  color: red;
}

.mySlide .swiper-pagination-bullet {
  background-color: red;
}

@media only screen and (max-width: 750px) {
  .mySlide .TheTeam {
    margin: 10px 0px 0px 160px;
  }
}

@media only screen and (max-width: 750px) {
  .mySlide .swiper {
    width: 100%;
    height: 150px;
  }
}

@media only screen and (max-width: 750px) {
  .mySlide .swiper-wrapper {
    height: 450px;
  }
}

@media only screen and (max-width: 750px) {
  .mySlide .swiper-slide div {
    width: 100%;
    height: 120px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 750px) {
  .mySlide .swiper-slide div {
    height: 200px;
    margin-top: 250px;
  }
}
