.PaymentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.PaymentForm {
  border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 430px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.success {
  color: green;
  margin-bottom: 10px;
}

input {
  width: 85%;
  padding: 10px;
  margin: 25px 0px 0px 20px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 16px;
}

button[type="submit"] {
  width: 90%;
  padding: 10px;
  margin: 20px 0px 0px 20px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 16px;
  background-color: white;
  transition: all 0.3s;
}

button[type="submit"]:hover {
  cursor: pointer;
  background-color: lightgray;
}

@media only screen and (max-width: 750px) {
  .PaymentForm {
    display: block;
    width: 80%;
  }

  input {
    margin-left: 13px;
  }
  button[type="submit"] {
    width: 93%;
    margin-left: 13px;
  }
}
