.scheduleWrapper {
  width: 100%;
  margin-top: 32px;
}

@media screen and (max-width: 600px) {
  .scheduleWrapper {
    flex-direction: column;
    flex-shrink: 0;
  }
}

.css-quj9j6-MuiTable-root {
  background-color: #000F2E !important;
  opacity: 0.9;
}

@media screen and (max-width: 600px) {
  .css-quj9j6-MuiTable-root {
    flex-direction: column;
    flex-shrink: 0;
  }
}



.css-1q1u3t4-MuiTableRow-root {
  border-bottom: 1px solid lightgrey;
}

.schedule-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 128px;
  height: 80px;
  color: white;
  text-align: center;
  padding: 16px;
}