body {
  margin: 0;
  font-family: "Roboto", "serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#gender {
  height: 40px;
  padding-left: 1em;
  margin: 1em 0em 1em 2em;
  font-size: 15px;
  border: none;
  border-radius: 0.4em;
  box-shadow: 0px 15px 5px black;
  width: 88%;
}

input[type="file"] {
  color: white;
}

#register-form {
  margin-top: 3em;
}

#label-gender {
  color: red;
  font-size: 18px;
  margin-left: 2em;
}

#search_bar {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  margin-left: 2em;
}

#search_bar input {
  width: 300px;
  height: 50px;
  border-radius: 0.4em;
  padding-left: 1em;
  font-size: 20px;
  font-weight: 600;
}

#search_bar label {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0.8em;
}

@media only screen and (max-width: 1024px) {
  #gender {
    width: 88%;
  }
}

@media only screen and (max-width: 768px) {
  #gender {
    width: 65%;
  }
}

@media only screen and (max-width: 400px) {
  #gender {
    width: 65%;
  }
}
