.MuiAppBar-root{
    background-color: black !important;
  
}

.MuiBox-root {
   /*justify-content: center;*/
   margin-left: 40px;
    
}



/*.MuiTypography-root{
    margin-top: 10px !important;
}

.MuiButtonBase-root {
    margin-bottom: 15px !important;
}

/*.Image{
    width: 50px;
    background-color: white;
    
}

.img{
    padding: 10px 0px 0px 45px; 
}*/





