.movie-info-container{
 background-image: url('./stars.jpeg');
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 900px) {
  .movie-info {
    display: flex;
  }
}

.movie-info-content {
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
}

@media screen and (min-width: 950px) {
  .movie-info-content {
    max-width: 80%;
    padding: 32px;
  }
}

.movie-info-img-wrapper {
  width: 100%;

}

@media screen and (min-width: 600px) {
  .movie-info-img-wrapper {
    max-width: 45%;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 900px) {
  .movie-info-img-wrapper {
    max-width: 40%;
    flex-shrink: 0;
  }
}


.movie-info-img {
  width: 100%;
  display: block;
}

.movie-info-description-wrapper {
  color: white;
  padding: 16px;
  font-family: 'Roboto', serif;
}

@media screen and (min-width: 900px){
  .movie-info-description-wrapper {
    font-size: 20px;
  }
}

.movie-info-description-title {
  margin-bottom: 16px;
}
@media screen and (min-width: 900px){
  .movie-info-description-title {
    font-size: 40px;
  }
}


.movie-info-list {
  display: flex;
  margin-bottom: 8px;
}

.movie-info-description {
  font-size: 18px;
  text-align: justify;
  line-height: 130%;
}

@media screen and (min-width: 900px){
  .movie-info-description {
    font-size: 20px;
  }
}


.movie-info-list-item {
  display: flex;
  background: darkred;
  margin-right: 8px;
  padding: 4px;
  align-items: center;
}

.movie-info-icon {
  margin-right: 4px;
}

.video{
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  height: 0;
  margin-top: 16px;
}

@media screen and (min-width: 950px){
  .video{
    margin-top: 60px;
  }
}

.video-iframe{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
