#register_submit {
  width: 200px;
  height: 40px;
  background-color: red;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  border-radius: 0.4em;
  margin-top: 1em;
  box-shadow: 0px 5px 2px black;
  
}

.MuiFormControl-root label {
  color: red;
  font-size: 18px;
  margin-left: 2em;
}

.MuiInputBase-root input {
       width: 300px;
      height: 40px;
      margin-top: 1em;
      font-size: 15px;
      border: none;
      border-radius: 0.4em;
      box-shadow: 0px 15px 5px black;
      margin-bottom: 1em;
      margin-left: 2em;
      padding-left: 1em;
      background-color: #FFFFFF;
}


.MuiInput-underline::after {
border-bottom: none !important;
}

.MuiInputLabel-animated {
  color: red !important;
}

.MuiInputLabel-formControl {
  transform: translate(0px)  !important;
} 


.MuiFormHelperText-root {
  margin-left: 3em !important;
}

#file {
  background-color: transparent;
}

#terms-input {
  width: 20px;
  height: 20px;
  margin-left: 3em;
}

#terms {
  color: red;
  font-size: 18px;
  margin-left: 2em;
}

#terms-link {
  color: #FFFFFF;
  margin-left: 1em;
}

#terms-span {
  margin-left:1em;
}
